%header.mdl-layout__header
    .mdl-layout__header-row
        %span.mdl-layout-title Social-net
        .mdl-layout-spacer
        %nav.mdl-navigation
            - if user_signed_in? 
                =link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: 'white-text'   
.mdl-layout__drawer 
    %span.mdl-layout-title Menu
    %nav.mdl-navigation

    