
html, body{
    height: 100%;
}

.full-height{
    height: 100%;
}

.no-margin{
    margin: 0;
}

.no-list{
    list-style: none;
}

.big-padding{
    padding: 2em 1.5em;
}

.large-padding{
    padding: 10px 15px;
}

.top-space{
    margin-top: 1em;
}

.full-width{
    width: 100%;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.underline{
    text-decoration: underline;
}